# Ignore all
*
# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Latex and problem files
*.o
*.aux
*.dvi
*.log
*.pdf
*.toc
*.in
*.synctex.gz
*.out
*.exe
*.zip
*.fdb_latexmk
*.fls

# ignore testcases
**/tc
.vscode/*

# ignore build file
**build
temp/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app